name: "automate-all-the-things"

on:
  push:
    branches:
      - 'main'

jobs:
  # Название задачи, которое будет отображаться в GitHub
  build_and_push:
    runs-on: ubuntu-latest
    steps:
      -
        name: Login to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      -
        name: Build and push
        uses: docker/build-push-action@v5
        with:
          push: true
          tags: darkweid/test-docker-push:latest